<style>
.mono {
	font-family:monospace;
	font-size:110%;
	font-weight:bold;
	color:green;

}
</style>
<form id="form" onsubmit="return false;">
<div class="wide">MQTT to Miniserver</div>

<div data-role="fieldcontain">
	<label for="subscriptions">MQTT subscriptions</label>
	<textarea name="subscriptions" id="subscriptions"></textarea>
	<p class="hint">One subscription topic per line. For Shelly devices, use <span class="mono">shellies/#</span></p>
</div>

<div data-role="fieldcontain">
	<fieldset data-role="controlgroup">
		<legend>Type sending the data to Miniserver</legend>
		<input type="checkbox" name="Main.use_http" id="Main.use_http">
		<label for="Main.use_http">Set virtual inputs via HTTP webservice</label>
		<input type="checkbox" name="Main.use_udp" id="Main.use_udp">
		<label for="Main.use_udp">Send data via UDP</label>
		<p class="hint">See the Wiki for details how to configure your inputs on your Miniserver.</p>
	</fieldset>
	
<div>

<div data-role="fieldcontain">
	<!-- <label for="Main.msno">Miniserver to relay to</label> -->
	<TMPL_VAR mslist_select_html>
</div>

<div data-role="fieldcontain">
	<label for="Main.udpport">Miniserver UDP port</label>
	<input name="Main.udpport" id="Main.udpport" type="text" />
	<p class="hint">Default UDP port is 11883</p>
</div>

<fieldset data-role="controlgroup">
	<legend>Data transformations</legend>
	<input type="checkbox" name="Main.convert_booleans" id="Main.convert_booleans">
	<label for="Main.convert_booleans">Convert booleans to 1 and 0</label>
</fieldset>

<div data-role="fieldcontain">
	<label for="brokeraddress">MQTT Broker address</label>
	<input name="Main.brokeraddress" id="Main.brokeraddress" type="text" />
	<p class="hint">Default is <span class="mono">localhost</span> for the local Mosquitto installation.</p>
</div>

<div class="wide">Miniserver to MQTT</div>
<p>Not yet implemented.</p>


<button id="saveapply">Save and Apply</button>

</form>

<script>

var cfg;


$(function() {
	cfg = JSON.parse('<TMPL_VAR JSONCONFIG>');
	console.log("Config", cfg, cfg.Main, cfg.subscriptions);
	
	// Elements in subscriptions
	$("#subscriptions").text( cfg.subscriptions.join("\n") );
	
	// Elements in Main
	for(var elemname in cfg.Main) {
		var inputType = $("#Main\\."+elemname).attr('type');
		console.log("Element", elemname, cfg.Main[elemname], inputType);
		if(inputType == "checkbox" && cfg.Main[elemname] == 1) {
			$("#Main\\."+elemname).prop('checked', true);
		} else {
			$("#Main\\."+elemname).val(cfg.Main[elemname]);
		}
	}
	$('select').selectmenu('refresh', true);
	$('input:checkbox').checkboxradio('refresh');
	
});

$('input, textarea, select').change(function(event) {
	var id = $(this).attr('id');
	var inputType = $(this).attr('type');
	console.log(id, inputType, event);
		
	if (id == "subscriptions") {
		console.log("subscritions content",  $("#"+id).val());
		cfg.subscriptions = $.trim($("#"+id).val()).split("\n");
		console.log("Subscriptions Array", cfg.subscriptions);
	} else if (id.startsWith("Main.")) {
		var idarray = id.split(".");
		if(inputType === "checkbox") {
			cfg.Main[idarray[1]] = $(this).is(":checked");
		} else {
			// console.log(idarray[0], idarray[1], $("#Main\\."+idarray[1]).val());
		
			cfg.Main[idarray[1]] = $(this).val();
		}
	}



});


$("#saveapply").click(function(){

	// var data = $('form').serialize() + "&save=true";
	console.log("Submitting form", cfg);
	
	$.ajax( { 
			type: 'POST',
			url: 'ajax.cgi', 
			dataType: 'json',
			contentType: 'text/plain; charset=UTF-8',
			data: JSON.stringify(cfg)
		} )
	.done(function() {
		console.log( "Success" );
	})
	.fail(function() {
		console.log( "Error" );
	})
	.always(function() {
		console.log( "Finished" );
	});
	
});


</script>
