<style>
.mono {
	font-family:monospace;
	font-size:110%;
	font-weight:bold;
	color:green;

}
#overlay 
{
  display: none !important;
}
</style>

<TMPL_IF FORM_SETTINGS>
	<!-- Form SETTINGS -->
	<form id="form" onsubmit="return false;">

	<div class="wide">MQTT to Miniserver</div>
	<br>

	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<legend>Type sending the data to Miniserver</legend>
			<input type="checkbox" name="Main.use_http" id="Main.use_http">
			<label for="Main.use_http">Set virtual inputs via HTTP webservice (recommended)</label>
			<input type="checkbox" name="Main.use_udp" id="Main.use_udp">
			<label for="Main.use_udp">Send data via UDP</label>
			<p class="hint">See the Wiki for details how to configure your inputs on your Miniserver.</p>
		</fieldset>
		
	<div>

	<div data-role="fieldcontain">
		<!-- <label for="Main.msno">Miniserver to relay to</label> -->
		<TMPL_VAR mslist_select_html>
	</div>

	<div data-role="fieldcontain">
		<label for="Main.udpport">Miniserver UDP port</label>
		<input name="Main.udpport" id="Main.udpport" type="text" />
		<p class="hint">Default UDP port is 11883</p>
	</div>

	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<legend>Data transformations</legend>
			<input type="checkbox" name="Main.convert_booleans" id="Main.convert_booleans">
			<label for="Main.convert_booleans">Convert booleans to 1 and 0</label>
			<input type="checkbox" name="Main.expand_json" id="Main.expand_json">
			<label for="Main.expand_json">Expand JSON data (EXPERIMENTAL, for HTTP only)</label>
		</fieldset>
	</div>

	<br>
	<div class="wide">Miniserver to MQTT</div>
	<br>

	<div data-role="fieldcontain">
		<label for="Main.udpinport">Gateway UDP in-port</label>
		<input name="Main.udpinport" id="Main.udpinport" type="text" />
		<p class="hint">Default UDP IN-port on LoxBerry is 11883</p>
	</div>

	<br>
	<div class="wide">MQTT Broker</div>
	<br>
	<fieldset data-role="controlgroup">
		<legend>Use local Mosquitto broker</legend>
		<input type="checkbox" name="Main.enable_mosquitto" id="Main.enable_mosquitto">
		<label for="Main.enable_mosquitto">Use the local Mosquitto MQTT broker (default: enabled)</label>
	</fieldset>

	<div data-role="fieldcontain">
		<label for="Main.brokeraddress">MQTT Broker address</label>
		<input name="Main.brokeraddress" id="Main.brokeraddress" type="text" />
		<p class="hint">Default is <span class="mono">localhost</span> for the local Mosquitto installation. Experienced users may use a remote MQTT broker.</p>
	</div>

	<div data-role="fieldcontain">
		<label for="Main.brokeruser">MQTT Broker username</label>
		<input name="Main.brokeruser" id="Main.brokeruser" type="text" />
		<p class="hint">Default is empty (no authentication) for the local Mosquitto installation.</p>
	</div>

	<div data-role="fieldcontain">
		<label for="Main.brokerpass">MQTT Broker password</label>
		<input name="Main.brokerpass" id="Main.brokerpass" type="text" />
		<p class="hint">Default is empty (no authentication) for the local Mosquitto installation.</p>
	</div>
	</form>
	<!-- /Form SETTINGS -->
</TMPL_IF>

<TMPL_IF FORM_SUBSCRIPTIONS>
	<!-- Form SUBSCRIPTIONS -->
	<form id="form" onsubmit="return false;">

	<div class="wide">MQTT Subscriptions</div>
	<p>Subscriptions are the topics of MQTT devices that are relayed to the Miniserver. A # sign symbols a joker in MQTT. Use exactly the topic(s) provided by the device vendor.</p> 
	<div data-role="fieldcontain">
		<label for="subscriptions">MQTT subscriptions <p class="hint">One subscription topic per line. For Shelly devices, use <span class="mono">shellies/#</span></p></label>
		<textarea name="subscriptions" id="subscriptions" rows="20" data-autogrow="false"></textarea>
		
	</div>
	
	</form>
	<!-- /Form SUBSCRIPTIONS -->
</TMPL_IF>

<TMPL_IF FORM_CONVERSIONS>
	<!-- Form CONVERSIONS -->
	<form id="form" onsubmit="return false;">

	<div class="wide">Text-to-Value conversions</div>
	<p>MQTT devices often are sending strings that Loxone unfortunately cannot handle. In this field you can create text-to-value conversions. You can assign values to incoming strings, that values are sent to the Miniserver, and can be evaluated e.g. with a Status block.</p> 
	<p>Booleans (on, off etc.) are already converted, if you have 'Boolean conversion' enabled.</p>
	<div data-role="fieldcontain">
		<label for="conversions">Text-to-Value conversion <p class="hint">One conversion per line. Use <span class="mono">Text=Value</span></p></label>
		<textarea name="conversions" id="conversions" rows="20" data-autogrow="false"></textarea>
	</div>
	</form>

	<!-- /Form CONVERSIONS -->
</TMPL_IF>


<TMPL_IF FORM_TOPICS>
	<!-- Form TOPICS -->
	<style>
	.topics_table {
		/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
		border-collapse: collapse;
		width: 100%;
	}

	.topics_table td, .topics_table th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	.topics_table tr:nth-child(even){background-color: #f2f2f2;}

	.topics_table tr:hover {background-color: #ddd;}

	.topics_table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #6dac20;
		color: white;
		text-shadow: 1px 1px #333333;
		
	}
	</style>
	
	<div class="wide">Last transmissions to Miniserver</div>
	<p>This page lists the transmissions via the MQTT Gateway to the Miniserver in the last 24 hours. It is refreshed approximately every minute if you press browsers refresh button.<p>
	<p>You can copy and paste the 'Virtual Input' names for HTTP transmissions, or create command recognitions from the UDP messages.</p>
	
	<div data-role='collapsible' id='coll_mqtthttp' data-content-theme='true' data-collapsed='true' data-collapsed-icon='carat-d' data-expanded-icon='carat-u' data-iconpos='right'>
		<h2 class='ui-bar ui-bar-a ui-corner-all' id='head_mqtthttp'>HTTP Virtual Inputs <span style='font-size:80%;'>(<TMPL_VAR http_count> entries)</span></h2>
		<TMPL_VAR http_table>
	</div>
	
	<div data-role='collapsible' id='coll_mqttudp' data-content-theme='true' data-collapsed='true' data-collapsed-icon='carat-d' data-expanded-icon='carat-u' data-iconpos='right'>
		<h2 class='ui-bar ui-bar-a ui-corner-all' id='head_mqttudp'>UDP Transmissions <span style='font-size:80%;'>(<TMPL_VAR udp_count> entries)</span></h2>
		<TMPL_VAR udp_table>
	</div>
	<br>
	
	<!-- Donation -->
	<div data-role='collapsible' id='coll_donate' data-content-theme='true' data-collapsed='true' data-collapsed-icon='carat-d' data-expanded-icon='carat-u' data-iconpos='right'>
		<h2 class='ui-bar ui-bar-a ui-corner-all' id='head_donate'>Donate for test equipment</h2>
		<TMPL_VAR donate>
		<div style="margin:auto;text-align:center;">
		<br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="ENM638BVW9GYS" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<img alt="" border="0" src="https://www.paypal.com/en_AT/i/scr/pixel.gif" width="1" height="1" />
		</form>
		</div>
		<br>
		<div style="display:flex;justify-content:center;align-content:space-around;">
			<div style="padding: 10px 10px 10px 10px;">
				<fieldset data-role="controlgroup">
					<input type="checkbox" name="Main.donation_remove" id="Main.donation_remove">
					<label for="Main.donation_remove"><TMPL_VAR donate_done_remove></label>
				</fieldset>
			</div>
			<div style="padding: 10px 10px 10px 10px;">
				<button class="ui-btn ui-btn-icon-right ui-corner-all" id="saveapply" data-inline="true">Save</button>
			</div>
		</div>
		<!-- <button id="Main.remove_donate" data-mini="true"><TMPL_VAR donate_done_remove></button> -->
	</div>
	
	
	
	<script>
		$( document ).ready(function() {
		restoreWindow();
		$(".ui-collapsible").on("collapsiblecollapse", function(event, ui) {console.log("Collaps", $(this).attr('id'));storeWindow($(this).attr('id'), "collapse");});
		$(".ui-collapsible").on("collapsibleexpand", function(event, ui) {console.log("Expand", $(this).attr('id'));storeWindow($(this).attr('id'), "expand");});
		
		});

		function storeWindow (name, pos) 
		{
			sessionStorage.setItem("coll_"+name, pos);
		}

		function restoreWindow() 
		{
			$.each( $(".ui-collapsible"), function ( index, value ) {
				var pos = sessionStorage.getItem("coll_"+$(value).attr('id'));
				if(pos === "expand" || pos === "collapse") {
					$(value).collapsible( pos );
				} else {
					sessionStorage.removeItem("coll_"+$(value).attr('id'));
				}
				console.log($(value).attr('id'), pos);	}
			);
		}
	</script>

	<!-- /Form TOPICS -->
</TMPL_IF>




<TMPL_IF FORM_LOGS>
	<!-- Form LOGS -->
	<TMPL_VAR loglist_html>
	<!-- /Form LOGS -->
</TMPL_IF>

<TMPL_UNLESS FORM_DISABLE_BUTTONS>

	<div style="display:flex;align-items:center;justify-content:center;">
	<button class="ui-btn ui-btn-icon-right" id="saveapply" data-inline="true">Save and Apply</button>
	<button class="ui-btn ui-btn-icon-right" id="restartmqttgateway" data-inline="true">Restart</button>
	</div>
	<div style="display:flex;align-items:center;justify-content:center;">
		<span id="savemessages"></span>&nbsp;
		&nbsp;<span id="gatewaystate"></span>&nbsp;| 
		&nbsp;<span id="mosquittostate"></span>
	</div>

</TMPL_UNLESS>

	
<TMPL_UNLESS FORM_DISABLE_JS>

	<script>

	var cfg;


	$(function() {
		
		setInterval(function(){ update_pids(); }, 5000);
		update_pids();
		
		cfg = JSON.parse('<TMPL_VAR JSONCONFIG>');
		console.log("Config", cfg, cfg.Main, cfg.subscriptions);
		
		// Hide donation
		if( cfg.Main.donation_remove === true )
			$("#coll_donate").hide();
		
		
		// Elements in subscriptions
		if( cfg.subscriptions ) 
			$("#subscriptions").text( cfg.subscriptions.join("\n") );
		
		// Elements in conversions
		if( cfg.conversions )
			$("#conversions").text( cfg.conversions.join("\n") );
		
		// Elements in Main
		for(var elemname in cfg.Main) {
			var inputType = $("#Main\\."+elemname).attr('type');
			console.log("Element", elemname, cfg.Main[elemname], inputType);
			if(inputType == "checkbox" && cfg.Main[elemname] == 1) {
				$("#Main\\."+elemname).prop('checked', true);
			} else {
				$("#Main\\."+elemname).val(cfg.Main[elemname]);
			}
		}
		$('select').selectmenu('refresh', true);
		$('input:checkbox').checkboxradio('refresh');
		
	});

	$('input, textarea, select').change(function(event) {
		$("#savemessages").attr("style", "color:blue").html("Unsaved changes |");

		var id = $(this).attr('id');
		var inputType = $(this).attr('type');
		console.log(id, inputType, event);
			
		if (id == "subscriptions") {
			console.log("subscritions content",  $("#"+id).val());
			cfg.subscriptions = $.trim($("#"+id).val()).split("\n");
			console.log("Subscriptions Array", cfg.subscriptions);
		} 
		else if (id == "conversions") {
			console.log("conversions content",  $("#"+id).val());
			cfg.conversions = $.trim($("#"+id).val()).split("\n");
			console.log("Conversions Array", cfg.conversions);
		} 
		else if (id.startsWith("Main.")) {
			var idarray = id.split(".");
			if(inputType === "checkbox") {
				cfg.Main[idarray[1]] = $(this).is(":checked");
			} else {
				// console.log(idarray[0], idarray[1], $("#Main\\."+idarray[1]).val());
			
				cfg.Main[idarray[1]] = $(this).val();
			}
		}



	});


	$("#saveapply").click(function(){

		// var data = $('form').serialize() + "&save=true";
		console.log("Submitting form", cfg);
		$("#saveapply").attr("disabled", true);
		$.ajax( { 
				type: 'POST',
				url: 'ajax.cgi', 
				dataType: 'json',
				contentType: 'text/plain; charset=UTF-8',
				data: JSON.stringify(cfg)
			} )
		.done(function() {
			console.log( "Success" );
			$("#savemessages").attr("style", "color:green").html("Saved successfully |");
		})
		.fail(function() {
			console.log( "Error" );
			$("#savemessages").attr("style", "color:red").html("Error saving |");
		})
		.always(function() {
			console.log( "Finished" );
			$("#saveapply").attr("disabled", false);
		
		});
		
	});

	$("#restartmqttgateway").click(function(){
		console.log("Restart pressed");
		$("#restartmqttgateway").attr("disabled", true);
		$.post( 'index.cgi', {
			ajax: 'restartgateway' })
		.done(function(resp) {
			console.log( "ajax_post", "success", resp );
	  })
	  .fail(function(resp) {
			console.log( "ajax_post", "failed", resp );
	  })
	  .always(function(resp) {
			console.log( "ajax_post", "finished", resp );
		$("#restartmqttgateway").attr("disabled", false);
		update_pids();
			
	  });
	});

	function update_pids() 
	{

		$.post( 'index.cgi', {
			ajax: 'getpids' })
		.done(function(resp) {
			// console.log( "ajax_post", "success", resp );
			if(resp.pids.mqttgateway != null) {
				$("#gatewaystate").attr("style", "color:green").html("MQTT Gateway running (PID"+resp.pids.mqttgateway+")");
			} else {
				$("#gatewaystate").attr("style", "color:red").html("MQTT Gateway not running");
			}
			if(resp.pids.mosquitto != null) {
				$("#mosquittostate").attr("style", "color:green").html("Mosquitto running (PID"+resp.pids.mosquitto+")");
			} else {
				$("#mosquittostate").attr("style", "color:red").html("Mosquitto not running");
			}
			
	  })
	  .fail(function(resp) {
			$("#gatewaystate").attr("style", "color:red").html("Failed to query PIDs");
			$("#mosquittostate").attr("style", "color:red").html("Failed to query PIDs");
			
	  })
	  .always(function(resp) {
			// console.log( "ajax_post", "finished", resp );

		});
	}


	</script>

</TMPL_UNLESS>